In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier

In [10]:
train_data = pd.read_csv('./speed_dating_train.csv')
text_data = pd.read_csv('./speed_dating_test.csv')

In [11]:
train_data.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,352,12.0,0,23,2,14,18,12,12.0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,170,13.0,1,26,2,7,16,15,6.0,10,...,6.0,8.0,9.0,5.0,7.0,NaN,NaN,NaN,NaN,NaN
2,221,8.0,1,16,2,9,20,8,7.0,2,...,6.0,8.0,9.0,7.0,9.0,NaN,NaN,NaN,NaN,NaN
3,211,18.0,0,35,2,9,20,7,7.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,238,5.0,0,9,1,10,9,7,7.0,3,...,9.0,9.0,9.0,9.0,8.0,8.0,8.0,8.0,8.0,7.0

In [12]:
train_data.columns

Index(['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round', 'position',
       'positin1', 'order',
       ...
       'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3',
       'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'],
      dtype='object', length=195)

In [13]:
percent_missing_sum = train_data.isnull().sum()
percent_missing_sum

iid            0
id             1
gender         0
idg            0
condtn         0
            ...
attr5_3     6289
sinc5_3     6289
intel5_3    6289
fun5_3      6289
amb5_3      6289
Length: 195, dtype: int64

In [14]:
name_extract_temp = ['match']

In [15]:
for name in percent_missing_sum.index:
    if percent_missing_sum[name] >= 1:
        name_extract_temp.append(name)
print(name_extract_temp)

['match', 'id', 'positin1', 'pid', 'int_corr', 'age_o', 'race_o', 'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb', 'pf_o_sha', 'attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o', 'like_o', 'prob_o', 'met_o', 'age', 'field', 'field_cd', 'undergra', 'mn_sat', 'tuition', 'race', 'imprace', 'imprelig', 'from', 'zipcode', 'income', 'goal', 'date', 'go_out', 'career', 'career_c', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'exphappy', 'expnum', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like', 'prob', 'met', 'match_es', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s', 'satis_2', 'length', 'numdat_2', 'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2', 'you_call', 'them_cal', 'date_3', 'numdat_3', 'num_in_3', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3', 'shar7_3', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'shar2_3', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3']

In [16]:
name_extract = [col for col in train_data.columns if col not in name_extract_temp]
name_extract

['iid',
 'gender',
 'idg',
 'condtn',
 'wave',
 'round',
 'position',
 'order',
 'partner',
 'samerace',
 'dec_o',
 'dec']

In [17]:
X_data = train_data[name_extract]
Y_data = train_data['match']
X_text = text_data[name_extract]

In [18]:
X_data

,iid,gender,idg,condtn,wave,round,position,order,partner,samerace,dec_o,dec
0,352,0,23,2,14,18,12,8,10,0,0,1
1,170,1,26,2,7,16,15,10,13,0,0,1
2,221,1,16,2,9,20,8,2,20,0,0,1
3,211,0,35,2,9,20,7,1,8,0,1,0
4,238,0,9,1,10,9,7,3,2,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8272,481,1,2,2,19,15,4,5,12,0,0,0
8273,325,0,7,1,13,9,6,2,1,0,0,1
8274,28,0,15,2,2,16,1,16,10,0,1,0
8275,28,0,15,2,2,16,1,8,4,1,0,0
8276,278,1,12,2,11,21,17,10,11,1,0,1

In [19]:
Y_data

0       0
1       0
2       0
3       0
4       1
       ..
8272    0
8273    0
8274    0
8275    0
8276    0
Name: match, Length: 8277, dtype: int64

In [20]:
rf0 = RandomForestClassifier(oob_score = True, random_state = 10)
rf0.fit(X_data,Y_data)
print(rf0.oob_score_)

1.0

In [21]:
realy = rf0.predict(X_text)

In [22]:
realy = pd.Series(realy)

In [25]:
realy.shape

(101,)

In [27]:
realy.index = list(range(1,102))

In [28]:
realy.to_csv('./submit.csv')